<!DOCTYPE html>
<html lang="en" th:replace="~{base::html(~{::title}, ~{::content}, ~{}, ~{})}">

<head>
	<title>Fashion Saga</title>
	<!-- Import Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
	<th:block th:fragment="content">
		<h1>We Make Fashion Your Number One Choice!</h1>

		<!-- Bootstrap row and column structure -->
		<div class="container">
			<div class="row">
				<!-- Each image in a column -->
				<div class="col-md-4">
					<img id="fashion-img" src="fashion-1.jpg" class="img-fluid" alt="Fashion 1">
				</div>
				<div class="col-md-4">
					<img id="fashion-img" src="fashion-2.jpg" class="img-fluid" alt="Fashion 2">
				</div>
				<div class="col-md-4">
					<img id="fashion-img" src="fashion-3.jpg" class="img-fluid" alt="Fashion 3">
				</div>
			</div>
		</div>
	</th:block>
</body>

</html>